[Unit]
Description=OMERO.server
# After: ensures this service starts after the dependency, but only if the
# dependency is also started (PostgreSQL may be on a different server)
After=postgresql-{{ postgres_version }}.service
After=network.service

[Service]
User={{ omero_admin_user }}
WorkingDirectory={{ omero_home }}
Type=forking
Restart=no
RestartSec=10
# Allow up to 5 min for start/stop
TimeoutSec=300
Environment="PATH={{ omero_home }}/OMERO.server/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
Environment="OMERODIR={{ omero_home }}/OMERO.server"
Environment="OMERO_TMPDIR=/omero_tmp"
ExecStart={{ python_venv }}/bin/omero admin start
ExecStop={{ python_venv }}/bin/omero admin stop
# If you want to enable in-place imports uncomment this:
#UMask=0002

[Install]
WantedBy=multi-user.target
