[Unit]
Description=OMERO.server
# After: ensures this service starts after the dependency, but only if the
# dependency is also started (PostgreSQL may be on a different server)
After=postgresql-9.6.service
After=network.service

[Service]
User=omero
WorkingDirectory=/omero_data/{{ inventory_hostname_short }}
Type=forking
Restart=no
RestartSec=10
# Allow up to 5 min for start/stop
TimeoutSec=300
Environment="PATH=/home/omero/OMERO.server/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
Environment="OMERODIR=/home/omero/OMERO.server"
Environment="OMERO_TMPDIR=/omero_tmp"
ExecStart=/home/omero/OMERO.server/bin/omero admin start
ExecStop=/home/omero/OMERO.server/bin/omero admin stop
# If you want to enable in-place imports uncomment this:
#UMask=0002

[Install]
WantedBy=multi-user.target
