[Unit]
Description=OMERO.web
# Not mandatory, Nginx may be running on a different server
Requires=nginx.service
After=network.service

[Service]
User=omero
Type=forking
PIDFile=/home/omero/OMERO.server/var/django.pid
Restart=no
RestartSec=10
Environment="OMERO_TMPDIR=/omero_tmp"
ExecStart=/home/omero/OMERO.server/bin/omero web start
ExecStop=/home/omero/OMERO.server/bin/omero web stop

[Install]
WantedBy=multi-user.target
